button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.cursor-pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.z-10 {
    z-index: 10
}
.fixed {
    position:fixed;
}
.notification {
    right:25px;
    bottom:40px;
}
.text-gray {
    color: #8A92A6
}
.text-gray:hover {
    color: #8A92A6
}
.text-black {
    color: #000000
}
.bg-light-blue {
    background: #EFF6FF;
}
.bg-light-purple {
    background: #FAF5FF;
}
.bg-light-green {
    background: #ECFDF5;
}