button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.cursor-pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.z-10 {
    z-index: 10
}
.fixed {
    position:fixed;
}
.notification {
    right:25px;
    bottom:40px;
}